/*  */



.acticle-main-btn {
    margin: 2rem 2.5rem;
    width: 17rem;
    padding: .7rem;
    font-size: 20px;
    color: white;
    background-color: rgb(86, 86, 240);
    border: none;
    outline: none;
}

.acticle-main-btn:hover {
    background-color: rgb(43, 43, 225);
}